@media only screen and (max-width: 1300px) {
  #parking #floor {
    width: 65%;
  }

  #parking #floor .lane {
    width: 20%;
  }

  #parking #floor .lane .slot {
    width: 100%;
    height: 80px;
  }

  #parking .parking-recipt {
    width: 35%;
  }

  #parking .parking-recipt .recipt-container {
    width: 90%;
  }

  .apply_promo button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  #parking #floor .lane .slot {
    height: 65px;
  }

  #parking .parking-recipt .recipt-container {
    width: 90%;
    font-size: 14px;
  }

  .services-head {
    font-size: 1.4rem;
  }

  .recipt-container span {
    font-size: 15px;
  }

  .apply_promo button {
    font-size: 14px;
  }
}
